
{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row1 mb-4">
        <!-- Search Bar -->
        <div class="col-12 col-md-6 mx-auto">
            <form method="get" action="{% url 'product_list' %}" class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control rounded-pill" name="q" placeholder="Search for products" value="{{ request.GET.q }}">
                    <button class="btn btn-primary rounded-pill ms-2" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        
        
    </div>
<!-- Latest Product Showcase -->
<div class="latest-product-container d-none d-md-block">
    {% for item in latest_products_with_likes %}
    <div class="latest-product">
        <!-- Product Image -->
        <div class="product-image">
            {% if item.product.main_image %}
            <img src="{{ item.product.main_image }}" alt="{{ item.product.name }}">
            {% else %}
            <img src="/static/default_image.jpg" alt="No Image Available">
            {% endif %}
        </div>

        <!-- Product Info -->
        <div class="product-info">
            <h2>{{ item.product.name }}</h2>
            <p class="price">Price: <strong>RWF {{ item.product.price |intcomma }}</strong></p>
            <p class="expected-price">RWF {{ item.product.expected_price |intcomma }}</p>
            <p class="stock {% if item.product.stock == 0 %}out-of-stock{% endif %}">
                Stock: {{ item.product.stock }}
            </p>

            
        </div>

        <!-- Product Description -->
        <div class="product-description">
            <p>{{ item.product.description|truncatechars:300 }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Styles -->
<style>
    @media (max-width: 768px) {
        .latest-product-container {
            display: none !important;
        }
    }

    .latest-product-container {
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
    }
    .latest-product {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);  
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 1s ease-in-out;
    }

    .product-image {
        height: 150px;
        width: 150px;
    }

    .product-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .product-info {
        flex: 1;
        padding: 20px;
    }

    .price {
        font-size: 22px;
        font-weight: bold;
        color: green;
    }

    .expected-price {
        text-decoration: line-through;
        color: rgb(95, 132, 103);
    }

    .stock {
        font-size: 16px;
    }

    .out-of-stock {
        color: red;
        font-weight: bold;
    }

    .product-description {
        flex: 1;
        overflow: hidden;
        font-size: 16px;
        color: #555;
    }


</style>

<!-- JavaScript for Rotating Products -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let products = document.querySelectorAll(".latest-product");
        let index = 0;
        let prevIndex = null;

        function showNextProduct() {
            if (prevIndex !== null) {
                products[prevIndex].style.opacity = "0";
            }
            products[index].style.opacity = "1";
            prevIndex = index;
            index = (index + 1) % products.length;
        }

        if (products.length > 0) {
            products[0].style.opacity = "1"; // Ensure first product is visible
            setInterval(showNextProduct, 5000);
        }
    });

    
</script>


   </div>

    <div class="row">
        <!-- Sidebar Filters -->
        <div class="col-md-3">
            <h5>Categories</h5>
            <div class="category-card">
                <ul class="list-group mb-4 category-list">
                    <li class="list-group-item {% if not request.GET.category %}active{% endif %}">
                        <a href="{% url 'product_list' %}" class="text-decoration-none text-black">All Categories</a>
                    </li>
                    {% for value, label in categories %}
                        <li class="list-group-item  {% if request.GET.category == value %}active{% endif %}">
                            <a href="{% url 'product_list' %}?category={{ value }}" class="text-decoration-none text-black">{{ label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        <!-- Product List -->
        <div class="col-md-9">
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3 align-items-stretch">
                {% for item in products_with_likes %}
                <div class="col">
                    <div class="card product-card h-100 d-flex flex-column">
                        {% if item.product.main_image %}
                        <img src="{{ item.product.main_image }}" class="card-img-top product-img" alt="{{ item.product.name }}">
                        {% else %}
                        <img src="/static/default_image.jpg" class="card-img-top product-img" alt="No Image Available">
                        {% endif %}
                        <div class="card-body text-center p-2 flex-grow-1">
                            <h6 class="card-title mb-1">{{ item.product.name|truncatechars:20 }}</h6>
                            <p class="card-text price mb-1">RWF {{ item.product.price |intcomma }}</p>
                            <h6 class="card-text mb-1">RWF {{ item.product.expected_price|intcomma }}</h6>
        
                            <!-- Hidden Content -->
                            <div class="card-hidden-content">
                                <small class="text-muted">Stock: {{ item.product.stock }}</small>
                                <div class="like-section mt-1">
                                    <button class="btn like-btn" id="like-btn-{{ item.product.id }}" onclick="toggleLike('{{ item.product.id }}', true)">
                                        <i class="fa-regular fa-thumbs-up"></i>
                                    </button>
                                    <button class="btn unlike-btn" id="unlike-btn-{{ item.product.id }}" onclick="toggleLike('{{ item.product.id }}', false)">
                                        <i class="fa-solid fa-thumbs-down"></i>
                                    </button>
                                    <span id="like-count-{{ item.product.id }}" class="like-count">{{ item.product.likes.count|intcomma }} likes</span>
                                </div>
                                <div class="button-group mt-2 d-flex justify-content-between">
                                    <a href="{% url 'product_detail' item.product.id %}" class="btn btn-primary btn-sm flex-grow-1 me-1">
                                        <i class="fa fa-eye"></i> View
                                    </a>
                                    <!-- Add to Cart Button with Flying Animation -->
                                    <button onclick="addToCart({{ item.product.id }}, this)" class="btn btn-success btn-sm flex-grow-1 position-relative">
                                        <i class="fa fa-cart-plus"></i>+
                                        <!-- Container for Flying Elements -->
                                        <div id="fly-container-{{ item..product.id }}" class="fly-container"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        
            <!-- Pagination -->
            <div class="d-flex justify-content-center mt-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if products_with_likes.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products_with_likes.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
        
                        <li class="page-item active">
                            <span class="page-link">{{ products_with_likes.number }} of {{ products_with_likes.paginator.num_pages }}</span>
                        </li>
        
                        {% if products_with_likes.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products_with_likes.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products_with_likes.paginator.num_pages }}">Last &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        
    </div>        

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<style>
    /* Custom Styles for Product Cards */
    .product-card {
        height: 220px; /* Fixed height */
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease;
        border: 1px solid #96b6ff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .product-img {
    width: 100%;
    height: 100px; /* Maintain fixed height */
    object-fit: contain; /* Changed from 'cover' to 'contain' */
    padding: 5px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    }


    .card-body {
        padding: 0.5rem !important;
        position: relative;
    }

    .card-hidden-content {
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.3s ease;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        padding: 0.5rem;
    }

    .product-card:hover .card-hidden-content {
        opacity: 1;
        transform: translateY(0);
    }

    .product-card:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    .card-title {
        font-size: 0.85rem;
        margin-bottom: 0.3rem !important;
    }

    .price {
        font-size: 12px !important;
        margin-bottom: 0.3rem !important;
        color: #28a745;
    }

    /* Existing Styles */
    @media (min-width: 992px) {
        .col-lg-2-4 {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    .btn-xs {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }

    .like-section {
        gap: 5px;
    }

    .like-btn, .unlike-btn {
        padding: 3px 6px;
        font-size: 0.8rem;
        border-radius: 5px;
    }

    .like-btn {
        background-color: red;
        color: white;
    }

    .unlike-btn {
        background-color: gray;
        color: white;
    }

    .button-group {
        display: flex;
        gap: 5px;
    }

    .category-card {
        height: 300px;
        overflow-y: auto;
    }
    .card-body p{
        color: #28a745;

    }

    .category-list {
        font-size: 0.8rem;
        max-height: 100%;
        padding-right: 10px;
    }

    .category-list .list-group-item {
        cursor: pointer;
    }

    .input-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form-control {
        border-radius: 30px;
        padding-left: 20px;
    }

    .search-form {
        display: flex;
        justify-content: center;
        
    }

    .input-group {
        width: 50%;
    }

    .form-control {
        border-radius: 25px;
        padding-left: 20px;
        height: 40px;
        font-size: 14px;
        border: 2px solid #96b6ff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .btn-primar {
        background-color: #007bff;
        font-size: 10px;
        border-radius: 30px;
        width: 10%;
    }
    .card-text{
        font-size: 10px !important;
        margin: 0px !important;
        


    }
    h6.card-text {

        text-decoration: line-through;


    }
    .row{
       
        margin-top: -7%;
        
    }
    .col-md-3{
        
        margin-top: -7%;
    }
    /* For small screens */
@media (max-width: 768px) {
    .category-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        gap: 10px;
    }
}

/* For larger screens (full-width behavior on computers) */
@media (min-width: 769px) {
    .category-list {
        display: block; /* Single column, full-width */
    }
}

</style>

<script src="{% static 'js/cart.js' %}"></script>
<script>

async function addToCart(productId, button) {
    try {
        const response = await fetch(`/add_to_cart/${productId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        });
        const data = await response.json();

        if (data.status === 'success') {
            // Update the cart count badge
            const cartCountElement = document.querySelector('#cartCount');
            const cartCountMobileElement = document.querySelector('#cartCountMobile');
            if (cartCountElement) {
                cartCountElement.textContent = data.cart_total;
                cartCountMobileElement.textContent = data.cart_total;
            }

            // Create the flying text element
            const flyText = document.createElement('div');
            flyText.classList.add('fly-text');
            flyText.textContent = `+${data.product_quantity || 1}`; // Show the quantity added

            // Append the flying text to the container
            const flyContainer = button.querySelector('.fly-container');
            flyContainer.appendChild(flyText);

            // Remove the flying text after the animation completes
            setTimeout(() => {
                flyText.remove();
            }, 2500); // Match the duration of the animation
        } else {
            // Show error message (optional)
            alert(data.message); // Replace with a toast or modal for better UX
        }
    } catch (error) {
        console.error('Error adding to cart:', error);
        alert('An error occurred while adding the product to the cart. Please try again.');
    }
}


    function toggleLike(productId, isLike) {
        const likeCountSpan = document.getElementById('like-count-' + productId);

        fetch(`/like_product/${productId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ product_id: productId, like: isLike })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                likeCountSpan.textContent = `${data.like_count} Like`;
            }
        })
        .catch(error => console.error("Error:", error));
    }
</script>

<style>

    /* Flying Animation */
@keyframes fly {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.fly-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.fly-text {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: green;
    animation: fly 1.8s ease-out forwards;
}


</style>

{% endblock %}